.bg-dark-cinemotion {
    background-color: darkslateblue;
}

.emobutton {
    color: white;
    border-color: black;
}
.emobutton-off {
    opacity: .3;
    border-width: 1px;
}

.emobutton-on {
    opacity: 1.0;
    border-width: 3px;
}

#eventCard {
    max-height: 300px;
    display: none;
}

.instructionScreenFirst {

}
.headphonecheckScreen {
    display:none;
}
.instructionScreenNotFirst {
    display:none;
}

.endScreen {
    display:none;
}

.hiddenText {
    display:none;
}

.studyinfotext {
    color: dimgray;
}